body{
    background-image: url(images/dynaproductionsbackground.png);
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
td{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(0, 68, 253);
}
li{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
button{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
    background-color:rgb(0, 155, 64);
    color: rgb(255, 255, 255);
    border-width: 0px;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 155, 64);
}
button:active{
    height: 20px;
    width: 120px;
    font-size: 15px;
    background-color:rgb(0, 155, 64);
    color: rgb(255, 255, 255);
}
a{
    font-family: 'Courier New', Courier, monospace;
}
table{
    background-color: rgb(0, 4, 255);
    margin: 0 auto;
}
#suggestionform{
    margin: 0 auto;
    width: 225.05px;
    position: relative;
    top: 10px;
}
#eclogo{
    position: absolute;
    top: -17px;
    z-index: 1;
}
tr{
    background-color: rgb(0, 153, 255);
}
.links{
    font-size: 15px;
    position: relative;
    left: 340px;
    top: 18px;
    padding: 4px;
}
.links:link{
    color: white;
}
.links:visited{
    color: white;
}
.links:active{
    color: gray;
}
header{
    z-index: 1;
    position: fixed;
    width: 100vw;
    right: 0px;
    top: 0px;
}
main{
    position: relative;
}
#indexlisttitle{
    text-align: center;
}
ul{
    margin: 0 auto;
    width: 600px;
}
/* Add a black background color to the top navigation */
.navbar {
    background-color: #000000;
    overflow: hidden;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    border-radius: 0px;
    align-items: center;
    position: relative;
}

/* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.2s;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #006eff;
    color: black;
}
select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
option{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    position: relative;
    top: 83px;
}
